.form-cont{
  min-width: 120px;
}

.list-container{
  border: solid 5px purple;
}

.list{
  height: 80vh;
  overflow: auto;
}

.cards-container{
  margin-top: 20px;
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}